<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['']">{{title}}</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['']" routerLinkActive="active-link">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['tech']" routerLinkActive="active-link">Tech News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['sport']" routerLinkActive="active-link">Sports News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['buisness']" routerLinkActive="active-link">Buisness News</a>
      </li>
    </ul>
    <app-search-news></app-search-news>
  </div>
</nav>
