<!--div class="container">
  <div>
    <h1 class="display-4">Sport News</h1>
  </div>
  <div class="row" >
          <div class="col-md-4 col-sm-6 col-12" *ngFor="let nw of news" style="padding-top: 10px;">
              <div class="card h-100 " >
                  <img src="{{nw.urlToImage}}" alt="{{nw.title}}">
                  <h4 class="card-title">{{nw.title}}</h4>
                  <div >
                      <p class="card-text">{{nw.content}} </p>
                      <a [title]="nw.title" [routerLink]="['/news', nw.title]" target="_blank" class="btn btn-primary">Read More</a>
                  </div>
              </div>
          </div>
      </div>
</div-->

<section class="wrapper">
  <div class="container">
    <div>
      <h1 class="display-4">Sport News</h1>
    </div>
    <div class="row">
      <div *ngFor="let nw of news" class="col-sm-4" style="padding-top: 10px;">
        <div class="card text-white card-has-bg click-col" style="background-image:url({{nw.urlToImage}});">
          <img class="card-img d-none" src="{{nw.urlToImage}}" alt="{{nw.title}}">
          <div class="card-img-overlay d-flex flex-column">
            <div class="card-body">
              <small class="card-meta mb-2">{{nw.author}}</small>
              <h4 class="card-title mt-0 "><a class="text-white" href="{{nw.url}}">{{nw.title}}</a></h4>
              <small><i class="far fa-clock"></i> {{nw.publishedAt | date}}</small>
            </div>
            <div class="card-footer">
              <div class="media">
                <img class="mr-3 rounded-circle"
                  src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-512.png"
                  alt="Generic placeholder image" style="max-width:50px">
                <div class="media-body">
                  <h6 class="my-0 text-white d-block"></h6>
                  <small>{{nw.author}}</small>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<section class="carousel slide" data-ride="carousel" id="postsCarousel">
  <div class="container">
      <div class="row">
          <div class="col-xs-12 text-md-right lead">
              <a class="btn btn-outline-secondary prev" href="" title="go back"><i class="fa fa-lg fa-chevron-left"></i></a>
              <a class="btn btn-outline-secondary next" href="" title="more"><i class="fa fa-lg fa-chevron-right"></i></a>
          </div>
      </div>
  </div>
  <div class="container p-t-0 m-t-2 carousel-inner">
      <div class="row row-equal carousel-item active m-t-0">
          <div class="col-md-4">
              <div class="card">
                  <div class="card-img-top card-img-top-250">
                      <img class="img-fluid" src="http://i.imgur.com/EW5FgJM.png" alt="Carousel 1">
                  </div>
                  <div class="card-block p-t-2">
                      <h6 class="small text-wide p-b-2">Insight</h6>
                      <h2>
                          <a href>Why Stuff Happens Every Year.</a>
                      </h2>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card">
                  <div class="card-img-top card-img-top-250">
                      <img class="img-fluid" src="http://i.imgur.com/Hw7sWGU.png" alt="Carousel 2">
                  </div>
                  <div class="card-block p-t-2">
                      <h6 class="small text-wide p-b-2">Development</h6>
                      <h2>
                          <a href>How to Make Every Line Count.</a>
                      </h2>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card">
                  <div class="card-img-top card-img-top-250">
                      <img class="img-fluid" src="http://i.imgur.com/g27lAMl.png" alt="Carousel 3">
                  </div>
                  <div class="card-block p-t-2">
                      <h6 class="small text-wide p-b-2">Design</h6>
                      <h2>
                          <a href>Responsive is Essential.</a>
                      </h2>
                  </div>
              </div>
          </div>
      </div>
      <div class="row row-equal carousel-item m-t-0">
          <div class="col-md-4">
              <div class="card">
                  <div class="card-img-top card-img-top-250">
                      <img class="img-fluid" src="//visualhunt.com/photos/l/1/office-student-work-study.jpg" alt="Carousel 4">
                  </div>
                  <div class="card-block p-t-2">
                      <h6 class="small text-wide p-b-2">Another</h6>
                      <h2>
                          <a href>Tagline or Call-to-action.</a>
                      </h2>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card">
                  <div class="card-img-top card-img-top-250">
                      <img class="img-fluid" src="//visualhunt.com/photos/l/1/working-woman-technology-computer.jpg" alt="Carousel 5">
                  </div>
                  <div class="card-block p-t-2">
                      <h6 class="small text-wide p-b-2"><span class="pull-xs-right">12.04</span> Category 1</h6>
                      <h2>
                          <a href>This is a Blog Title.</a>
                      </h2>
                  </div>
              </div>
          </div>
          <div class="col-md-4 fadeIn wow">
              <div class="card">
                  <div class="card-img-top card-img-top-250">
                      <img class="img-fluid" src="//visualhunt.com/photos/l/1/people-office-team-collaboration.jpg" alt="Carousel 6">
                  </div>
                  <div class="card-block p-t-2">
                      <h6 class="small text-wide p-b-2">Category 3</h6>
                      <h2>
                          <a href>Catchy Title of a Blog Post.</a>
                      </h2>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>




<script>
  (function($) {
    "use strict";

    // manual carousel controls
    $('.next').click(function(){ $('.carousel').carousel('next');return false; });
    $('.prev').click(function(){ $('.carousel').carousel('prev');return false; });

})(jQuery);
</script>
